@import "https://fonts.googleapis.com/css?family=Nunito";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Karla');
html,
body {
  top:0;
  left: 0;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
    position: absolute;
}

.header {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    height: 3vh;
    margin: 2.5vh auto 3vh auto;
    padding: 0 3vw;
    user-select: none;
}

.contacts {
    display: block;
    position: fixed;
    margin: 0 38.5vw;
    bottom: 2vh;
    width: 21vw
}

.contacts a {
    border-radius: 50%;
    float: left;
    height: 6vw;
    margin: 0 .5vw;
    transition: opacity .2s ease-out;
    width: 6vw
}

.contacts a img {
    border-radius: 50%;
    height: 6vw;
    transition: opacity .2s ease-out;
    width: 6vw;
    opacity: 0.3;
}

a:hover img {
    opacity: 1;
    transition: opacity .2s ease-out
}

a {
    display: block;
    overflow: hidden
}

h1 {
    color: #222;
    display: block;
    float: left;
    font-family: 'Nunito', sans-serif;
    font-size: 3vh;
    font-weight: 400;
    margin: 0!important;
    vertical-align: middle;
    width: 20vh;
    transition: 0.2s;
    margin-right: 18px;
}
h1:hover {
 color:#00a1ff;
 font-weight: 500;
}
.subhead {
    color: #b1b1b1;
    display: block;
    float: left;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5vh;
    font-weight: 400;
    margin: 0!important;
    padding-top: 1vh;
    margin-top: .05vh;
    vertical-align: middle;
    width: 20vw
}

h2 {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: #fff;
    display: block;
    font-family: 'Karla', sans-serif;
    font-size: 10vh;
    font-weight: 400;
    height: 10vh;
    margin: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 17.5vh;
    user-select: none;
    vertical-align: middle;
    width: 100%;
    z-index: 50
}

h3 {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: #c1c1c1;
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 3vh;
    font-weight: 400;
    height: 5vh;
    margin: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 40vh;
    user-select: none;
    vertical-align: middle;
    width: 100%;
    z-index: 49
}
.contacts h3 {
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #444;
    top:0;
    height: 6vh;
    z-index: 0;
    opacity: 1;
    font-size: 2vh;
}
.button {
    color: #a2a2a2;
    float: right;
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    margin: 0;
    margin-left: 1vw;
    margin-top: .5vh;
    padding: 0;
    text-decoration: none;
    transition: color .2s ease-out
}

.selected {
    color: #222;
    float: right;
    font-family: 'Nunito', sans-serif;
    font-size: 2vh;
    font-weight: 400;
    margin: 0;
    margin-left: 1vw;
    margin-top: .5vh;
    padding: 0;
    text-decoration: none;
    transition: color .2s ease-out
}

.button:hover {
    color: #222;
    transition: color .2s ease-out
}

.content {
    animation: load .4s ease-in 1;
    padding: 0 2vw;
    width: 100% !important;
    box-sizing: border-box;
    position: relative;

}

.item {
    float: left;
    height: 45vh;
    margin: 1%;
    margin-bottom: 2vw!important;
    margin-top: 0;
    opacity: 1;
    overflow: hidden;
    position: relative;
    transition: .2s ease-out;
    width: 48%
}

.item:hover img {
    filter: brightness(0.5);
    height: 75vh;
    transition: .2s ease-out;

}

.item:hover h2 {
    opacity: 1;
    transition: .2s ease-out;
    font-size: 10vh;
}

.item:hover h3 {
    opacity: 1;
    transition: .2s ease-out;
    font-size: 3vh;
}


.item-img {
    -webkit-transform: translateY(-50%) translateX(-50%);
    height: 60vh;
    margin-left: 50%;
    margin-top: 25%;
    transition: .2s ease-out;
    z-index: 10
}
form {
  font-family: 'Roboto', sans-serif;
  width: 30%;
  margin:10vh auto;
  display: block;
}
input[type="text"],input[type="email"] {
    float: left;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 4px;
    transition: .2s ease-out;
 }
 input:focus {
   outline-width: 0;
 }
input[type="submit"] {
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
    font-size: 0.9em;
    padding: 6px 16px;
    color: #888;
    border-radius: 4px;
    border: none;
    transition: .2s ease-out;
    float: left;
    margin: auto;
    margin-top: 8px;
}
.activebtn:hover {
    color: #fff;
    border-radius: 4px;
    background-color: #38d03e;
}
textarea {
  float: left;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 8px;
  height: 15vh;
  resize: none;
}
form p {
  padding: 8px 0;
  margin:0;
  float: left;
  font-family: 'Roboto', sans-serif;
}
::-webkit-scrollbar {
    width: 15px;
    background: #fff
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
    border: 3px solid #fff;
    border-radius: 12px;
}
::-webkit-scrollbar-corner {
  background: #eee;
}
::-webkit-scrollbar-button {
  display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  width: 9px;
  background-color: #bbb;
  border-radius: 12px;
  border: 3px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  width: 9px;
  background: #aaa;
  border-radius: 12px;
  border: 3px solid #fff;
}
@keyframes load {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}
