@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  padding: 0;
  margin: 0;
  transition: .5s;
}

.heading {
  position: relative;
  width:100vw;
  height: 10vh;
  background-color: black;
  color: white;
  font-size: 3.5vh;
}
.heading h2 {
  position: absolute;
  width: 100vw;
  transform: translate(-50%,-50%);
  margin: 5vh 50vw;
  text-align: center;
  font-family: "Google Sans";
}

.box {
  position: relative;
  background-color: white;
  width: 100vw;
  padding: 5vw 0;
  overflow:auto
}
#scoreinput {
  font-family: "Google Sans";
  font-size: 3.5vh;
  width: 80vw;
  padding: 2vw;
  border: none;
  border-bottom: 10px solid black;
  margin: 0 10vw;
}
h3 {
  font-family: "Google Sans";
  font-size: 3.2vh;
  width: 100vw;
  text-align: center;
}
#avgscore {
  position: relative;
  font-family: "Google Sans";
  font-size: 8vh;
  width: 100vw;
  text-align: center;
  top:-4vh;
  margin: 0;
}

.gradebox {
  float: left;
  width: 50vw;
  height: 50vw;
  margin: 0;
  overflow: hidden;
}
.gradebox h3 {
  width:50vw;
  height: 15vw;
  padding: 0;
  margin: 0;
}
.gradebox p {
  font-family: "Google Sans";
  font-size: 8vh;
  width: 50vw;
  height: 35vw;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}
.chetverki,.pyaterki {
  padding: 0;
  display: none;
}
.pyaterki .gradebox {
  margin: 0 25vw;
}
.orsym {
  position:absolute;
  margin: 25vw 50vw;
  text-align: right;
  vertical-align: bottom;
  font-family: "Google Sans";
  font-size: 3vh;
  transform: translate(-100%,-100%);
  font-weight: 200;
  height: 0;
  width: 0;
}
