html{
  width: auto;
  margin: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}
body {
  margin: 0;
  width: auto;
  position: relative;
}
.disabled_panel {
  display: block;
  float: left;
  position: relative;
  box-sizing: border-box;
  width: 25%;
  height: 25vh;
  background-color: white;
  border: 0.1vh solid white ;
  overflow: hidden;
}
.disabled_panel>img {
  filter: brightness(0.2) grayscale(100%);
}
.header {
  display: block;
  position:relative;
  float: none;
  width: 100%;
  height: 10vh;
}
.footer {
  display: block;
  position:inherit;
  bottom: 0px;
  float: none;
  width: 100%;
  height: 10vh;
}
.panel {
  display: block;
  float: left;
  position: relative;
  box-sizing: border-box;
  width: 25%;
  height: 25vh;
  background-color: black;
  border: 0.1vh solid white ;
  overflow: hidden;
}
.panel_img {
  position: absolute;
  width: 125%;
  opacity: 1;
  transition: .1s ease-in;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.panel:hover .panel_img {
  filter:blur(8px);
}
.panel:hover h4 {
  opacity: 1;
}
h4 {
  display: block;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 3vh;
  text-shadow: 0px 0px 4px #212121;
  opacity: 0;
  transition: .1s ease-in;
}
h2 {
  display: block;
  position: relative;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  color: #2b2b2b;
  font-size: 4vh;
  top: 50%;
  left: 7.5%;
  transform: translate(-50%, -50%);
}

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
