

html{
  width: auto;
  margin: 0;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
  background-color: #36393e;
  padding-bottom: 24px;
}
body {
  margin: 0;
  width: auto;
  position: relative;
}
.disabled_panel {
  display: block;
  float: left;
  position: relative;
  box-sizing: border-box;
  width: 25%;
  height: 25vh;
  background-color: #36393e;
  border-radius: 8px;
  border: 4px solid #36393e;
  overflow: hidden;
}
.disabled_panel>img {
  filter: brightness(0.2) grayscale(100%);
}
.contento {
  display: block;
  overflow: auto;
  height: 94vh;
  width: 100vw;
  position: fixed;
}
.header {
  display: block;
  top:0;
  float: none;
  width: 100%;
  height: 6vh;
  background-color: #2f3136;
  border-bottom: 1px solid #424549;
}
.footer {
  display: block;
  position:inherit;
  bottom: 0px;
  float: none;
  width: 100%;
  height: 10vh;
}
.panel {
  display: block;
  float: left;
  position: relative;
  box-sizing: border-box;
  width: 25%;
  height: 25vh;
  background-color: black;
  border-radius: 8px;
  border: 4px solid #36393e ;
  overflow: hidden;
}
.panel_img {
  position: absolute;
  width: 125%;
  opacity: 1;
  transition: .1s ease-in;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.panel:hover .panel_img {
  filter:blur(8px);
}
.panel:hover h4 {
  opacity: 1;
}
h4 {
  display: block;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-size: 3vh;
  text-shadow: 0px 0px 4px #212121;
  opacity: 0;
  transition: .1s ease-in;
}
h2 {
  display: block;
  position: relative;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-weight: 300;
  font-size: 2vh;
  top: 50%;
  left: 2.4%;
  transform: translate(-50%, -50%);
}
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2f3136;
    border: 3px solid #36393e;
    border-radius: 12px;
}
::-webkit-scrollbar-corner {
  background: #36393e;
}
::-webkit-scrollbar-button {
  display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  width: 9px;
  background-color: #1e2124;
  border-radius: 12px;
  border: 3px solid #36393e;
}

::-webkit-scrollbar-thumb:hover {
  width: 9px;
  background: #1e2124;
  border-radius: 12px;
  border: 3px solid #36393e;
}
