@import url('https://fonts.googleapis.com/css?family=Roboto');
body {padding: 0;margin: 0;top:0;}
.bg {
	width: 768px;
	max-width: 768px;
	overflow: auto;
	margin: auto;
}
.pack {
	float: left;
	height: 192px;
	width: 192px;
	background-color:white;
	overflow: hidden;
	transition: ease-in-out .2s;
}
.pack_img {
	margin: 32px;
	height: 128px;
	width: 128px;
	opacity: .8;
	transition: ease-in-out .2s;
}
.pack:hover {
	background-color:#f1f1f1;
	transition: ease-in-out .2s;
}
.pack:hover .pack_img {
	opacity: 1;
}
a {
	text-decoration: none;
}
h1 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 48px;
	margin: auto;
	text-decoration: none;
	text-align: left;
	background-color: #E65100;
	width: 768px;
	padding: 6px 8px;
	box-sizing: border-box;
}
h2 {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 32px;
	margin: auto;
	text-decoration: none;
	text-align: left;
	padding: 6px 12px;
	box-sizing: border-box;
	background-color: #E65100;
	border-bottom: 5px #b13e00 solid;
	text-shadow: 0px 2px 0px #525252;
}
h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 500 !important;
	color: #444444;
	font-size: 16px;
	margin-top:-32px;
	width: 194px;
	text-align: center;
	text-decoration: none;
}
h4 {
	font-family: 'Roboto', sans-serif;
	color: #999999;
	font-size: 12px;
	margin: auto;
	margin-bottom:12px;
	width: 90%;
	text-align: center;
	position: relative;
	bottom:10px;
	top:12px;
}
