html,body {
	margin: 0;
	background-color: #4e443b;
}
.box {
	width: 720px;
	max-width: 720px;
	overflow: auto;
	margin: auto;
	background-color: #27231f;
	padding-left:20px;
	padding-right: 20px;
}
.map {
	float: left;
	margin: auto;
	margin-bottom: 20px;
	height: 400px;
	width: 720px;
	border-radius: 6px;
	border: 1px solid #808080;
	overflow: hidden;
	position: relative;
}
.map_img {
	width:100%;
	margin: auto;
	object-fit: contain;
	transition:color .5s ease-in, text-shadow .5s ease-in,width 0.1s ease-in;
}

.navbar {
	width: 720px;
	max-width: 720px;
	overflow: auto;
	margin: auto;
	background-color: #27231f;
	padding-left:20px;
	padding-right: 20px;
}
}

a {
	text-decoration: none;
}

h1 {
	font-family: "TF2 Build";
	color: #fff;
	font-size: 47px;
	width: 740px;
	margin: auto;
	margin-top: 10px;
	padding:20px;
	text-decoration: none;
	text-align: center;
	background-color: #776b5f;
	border-radius: 10px;
	text-shadow: 2px 3px 0px #352e27;
	border: 4px solid #36332d;
}
h2 {
	font-family: "TF2 Secondary";
	color: #eee;
	font-size: 24px;
	margin: auto;
	margin-top:16px;
	margin-bottom: 16px;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.02em;
}
h3 {
	font-family: "TF2 Secondary";
	position:absolute;
	max-height: 28px;
	margin: 0;
	right: 20px;
	bottom: 20px;
	color: rgba(250,250,250,0);
	font-size: 26px;
	text-align: right;
	text-shadow: none;
	padding: 6px;
	border-radius: 6px;
	transition:color .1s ease-in, text-shadow .1s ease-in, background-color .08s ease-in;
}

.map_img:hover + h3 {
	text-shadow: 0 1px 5px #2b2b2b;
	color: rgba(250,250,250,255);
	background-color: #776b5f;
}
h3:hover {
	text-shadow: 0 1px 5px #2b2b2b;
	color: rgba(250,250,250,255);
	background-color: #776b5f;
}

.map_img:hover {
	width: 725px;
}
h3:hover + .map_img {
	width: 725px;
}

h4 {
	font-family: "Source Sans Pro Regular";
	color: #cccccc;
	font-size: 12px;
	padding-bottom:12px;
	width: 760px;
	text-align: center;
	margin: auto;
	position: relative;
	background-color: #27231f;
}
/*Test*/