body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("bg.png");
    background-repeat: repeat;
    background-size: 100%;
    animation: shiver 10s linear infinite;
}
#logo {
    display: block;
    position: absolute;
    width: 500px;
    height: 309px;
    bottom: 30px;
    left: 30px;
}

@keyframes shiver {
    0%   {background-size: 105%;}
    50%  {background-size: 100%;}
    100% {background-size: 105%;}
}