body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url("https://orig00.deviantart.net/acb8/f/2012/040/0/6/metal_seamless_by_hhh316-d4p6v71.jpg");
    background-size: 600px;
    background-blend-mode: multiply;
    background-color: #333;
}
#logo {
    display: block;
    width: 500px;
    height: 309px;
    margin:200px auto;
    opacity: 0.6;
}